*{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    width: 100%;
    height: auto;
    background-color: rgb(73, 7, 158);
    border-bottom: 3px solid #000;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}